@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.screeningTestMainDiv {
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    padding: 10px 0 50px;
    font-family: sans-serif;
}

.primary {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.primary header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    width: 100%;
    color: rgb(6, 4, 4);
    font-style: italic;
    padding: 20px;
    text-align: center;
}

.primary header .head {
    height: 50%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 7px solid #735E96;
    background-color: #D6C5F8;
}

.primary header h1 {
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    height: auto;
}

.primary .box {
    background-color: red;
}

.primary section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 50px;
    font-size: 20px;
    background: rgba(167, 157, 230, 0.7);
}

.primary #questionList {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.primary button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2863af;
    margin-top: 15px;
    padding: 20px 20px;
    width: 15%;
    border: none;
    padding: 5px;
    border-radius: 15px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.primary .options {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.primary .ops {
    display: flex;
    align-items: center;
    gap: 10px;
}

.primary .ops input {
    width: 15px;
    height: 15px;
}

.primary .main {
    margin-bottom: 10px;
    color: #fff;
}

.primary .main .questionMain {
    font-weight: bold;
}

#quizSection form {
    height: 100%;
}