* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login {
    background-color: #D7CEFB;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    overflow: hidden;
    padding-bottom: 70px;
}

.loginNav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

.loginNav img {
    width: 6%;
    filter: drop-shadow(0px 0px 5px #a7a0c7);
    /* margin-top: 20px; */
}

.loginNav div {
    width: 6%;
}

.loginNav .head {
    font-size: 40px;
    font-family: 'Aladin', sans-serif;
    letter-spacing: 4px;
}

.loginNav .head span {
    font-weight: bold;
    color: #8c77f0;
    text-shadow: 1px 1px 0px #000;
}

.loginMainDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    background-color: white;
    margin: 0 15%;
    border-radius: 30px;
}

.loginLeftSubDiv {
    width: 55%;
}

.loginLeftSubDiv img {
    width: 100%;
    height: auto;
    /* filter: drop-shadow(0px 0px 5px #a7a0c7); */
    /* mix-blend-mode: color-burn */
}

.loginRightSubDiv {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px 7% 50px 4%;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.8);
}

.loginHead {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
    font-family: 'Aladin', sans-serif;
    letter-spacing: 4px;
}

.chooseLanguageDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: auto;
    position: relative;
}

.chooseLanguageDiv p {
    font-size: 15px;
    margin: 0;
}

.chooseLanguageDiv select {
    width: 100%;
    appearance: none;
    padding: 10px;
    border: 0;
    background-color: #8c77f0;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 0px 2px #b0b0b0;
    cursor: pointer;
}

.chooseLanguageDiv .select {
    position: absolute;
    content: "";
    transform: rotate(45deg);
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-left: 4px solid transparent;
    border-top: 4px solid transparent;
    bottom: 16px;
    right: 17px;
}

.chooseLanguageDiv select option {
    line-height: 30px;
    background-color: white;
    font-size: 14px;
    color: #999;
}

.chooseLanguageDiv select:focus {
    border: 0;
    border-radius: 5px;
    outline: 0;
}

.seperator {
    width: 99%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inputDiv {
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    border: 2px solid #999;
}

.inputImage {
    width: 6%;
    height: auto;
}

.inputDiv input {
    border: 0;
    outline: 0;
    width: 85%;
    padding: 7px 10px;
    background-color: transparent;
}

.inputDiv input:focus {
    border: 0;
    outline: 0;
}

.forgotPass {
    width: 100%;
    margin: auto;
    text-align: right;
    margin-bottom: 10px;
    color: #999;
    font-size: 13px;
    cursor: pointer;
    transition: 0.4s;
}

.forgotPass:hover {
    font-size: 14px;
}

.loginRightSubDiv button {
    background-color: #8c77f0;
    border: 0;
    border-radius: 10px;
    color: white;
    width: 100%;
    margin: auto;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 0px 0px 2px #b0b0b0;
}

.loginRightSubDiv button:hover {
    transform: scale(1.02, 1.02);
}

@media screen and (max-width: 320px) {
    .loginLeftSubDiv {
        display: none;
    }

    .loginRightSubDiv {
        width: 100%;
        padding: 30px;
    }

    .chooseLanguageDiv p {
        text-align: center;
    }

    .loginMainDiv {
        width: 80%;
    }
}