<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="parent_dashboard.css">
    <title>Parent's Dashboard</title>
</head>
<body>
    <div class="container">
        <aside>
            <h2>Menu</h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Screening Test</a></li>
                <!-- Add more menu items as needed -->
            </ul>
        </aside>
    
        <main>
            <header>
                <h1> Welcome Parent !</h1>
            </header>
            
            <section id="todays-learning">
                <h2>Today's Learning</h2>
                 <li>Algebra Lecture2 - Completed</li>
                 <li>Algebra Lecture3 - 40% Completed</li> 
            </section>

            <section id="calendar">
                <h2>Calendar</h2>
               <section id="Today">
                 <h2>Today</h2>
                 <li>Parent's Meeting - 01:00 PM</li>
                 <li>English Quiz(Cha1) - 05:30 PM</li>
                 </section>
               <section id="Tommorow">
                 <h2>Tommorow</h2>
                 <li>Result Declaration - 10:00 AM</li>
                 </section>
            </section>
        </main>
    </div>
</body>
</html>
